*{
    margin: 0;
    padding: 0;
    overflow: hidden;

}
body{
    background: var(--bg-gradient);
    background-size:300% 300%;
    animation: backgroundColors 10s ease-in-out infinite;
    font-family: var(--main-font);
    height: 100vh;
}